.drawer {
  height: 100%;
  position: fixed;
  left: 0;
  background-color: var(--color-background);
  top: var(--topbar-height);
  width: 0px;
  overflow-x: hidden;
  transition: 0.5s;
}

.drawer.open {
  width: 200px;
}

.drawer__menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.drawer__menu li {
  padding: 15px;
  font-size: 15px;
  display: block;
  transition: 0.3s;
}

.drawer__menu li:hover {
  background: var(--color-box-menu);
}

.drawer__menu li a {
  text-decoration: none;
  color: var(--color-text-title);
  margin-left: 15px;
}

.drawer__menu li.active a,
.drawer__menu li a:hover {
  color: var(--color-primary-light);
}
