.app__content {
  height: 87vh;
  width: 100vw;
  top: var(--topbar-height);
  margin: 0;
  padding: 20px;
  position: fixed;
  transition: .5s;
  box-sizing: border-box;
  overflow-y: scroll;
  z-index: 1;
}

.app__content.open {
  margin-left: 18vw;
  width: 82vw;
}

@media (max-width: 700px) {
  .app__content {
    display: block;
  }
  
  .app__content.open {
    display: none;
  }
}
