.app__content {
  height: 100%;
  width: 100%;
  top: var(--topbar-height);
  margin: 0;
  padding: 20px;
  position: fixed;
  transition: margin-left .5s;
}

.app__content.open {
  margin-left: 200px;
}
